*{
  padding: 0;
  margin: 0;
}
body{
background-color: black;
}
nav{
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 220px;
  padding-left: 10px;
  padding-right: 40px;
}
ul{
padding-top: 15px;
padding-bottom: 15px;
  text-align: center;
  background-color: orange;
}
ul li{
  display: inline;
  font-size: 11px;
  color: white;
  margin-left: 25px;
}
.o{
font-family: 'Catamaran', sans-serif;
font-weight: bolder;
font-size: 32px;
}
.j{
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: lighter;
  padding-right: 10px;
}
.z{
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 200px;
  color: white;
}
sup{
  vertical-align: 85%;
 line-height: 10px;
 font-size:11px;
}
.w{
  margin-left: 10px;
  padding-right: 50px;
}
hr{
  border-color: red;
  margin-left: 210px;
  margin-right: 260px;
  padding-left: 10px;
  padding-right: 40px;
}
input{
 padding-top: 15px;
 padding-bottom: 15px;
 padding-left: 15px;
 margin-right: 0;
 background-color: transparent;
 border: 0;
}
.wrap{

  display: inline-block;
  float: right;
  margin-left: 250px;
  margin-right: 0px;
  background-color: rgb(245,245,245);
}
button{
border: none;
background-color: transparent;
padding-right: 15px;
cursor: pointer;
}
.orange{
  margin-left: 0px;
  margin-right: 40px;
  padding-right: 2px;
  padding-left: 10px;
}
.one{
  display: inline-block;
  color: white;
  background-color: orange;
  margin-left: 2px;
  margin-right: 70px;

}

button{
  color: blue;
  cursor: pointer;
}

.bottom{
  background-color: white;
  margin-top: 0;
  padding-top: 20px;
  padding-right: 0;
  padding-left:0;
  margin-left:120px;
  margin-right: 160px;
}

.body{
  margin-left: 90px;
  margin-right: 100px;
  margin-top: 0px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  background-color: black;
}
#test{
 margin-left: 210px;
 margin-right: 260px;
 padding-top: 0px;
 padding-bottom: 0px;
 background-color: white;

}
.em{
  display: inline-block;
  padding-left: 180px;
  padding-right: 0;
}
.blue{
  color: blue;
}
p{
  text-indent: 5px;
}
